
@{
    ViewBag.Title = "Index";
}


<div id="main">
    <!-- start:breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
    <!-- end:breadcrumb -->

    <div class="row" id="home-content">
        <div class="col-lg-8">
            <!-- start:state overview -->
            <div class="row state-overview">
                <div class="col-lg-6 col-sm-6">
                    <section class="panel">
                        <div class="symbol terques">
                            <i class="fa fa-inbox" data-original-title="" title=""></i>
                        </div>
                        <div class="value">
                            <h1 class="count">195</h1>
                            <p>New Emails</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <section class="panel">
                        <div class="symbol red">
                            <i class="fa fa-share-alt" data-original-title="" title=""></i>
                        </div>
                        <div class="value">
                            <h1 class="count2">47</h1>
                            <p>Shares</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <section class="panel">
                        <div class="symbol yellow">
                            <i class="fa fa-tags" data-original-title="" title=""></i>
                        </div>
                        <div class="value">
                            <h1 class="count3">228</h1>
                            <p>Product View</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <section class="panel">
                        <div class="symbol purple">
                            <i class="fa fa-comment" data-original-title="" title=""></i>
                        </div>
                        <div class="value">
                            <h1 class="count4">328</h1>
                            <p>New Messages</p>
                        </div>
                    </section>
                </div>
            </div>
            <!-- end:state overview -->
        </div>
        <div class="row">


            <div class="col-lg-4">
                <!-- start:user info table -->
                <section class="panel">
                    <div class="panel-body">
                        <a href="#" class="task-thumb">
                            <img src="~/Content/img/user/17071b9b35dda9f1bbbafd92418b5e6a.jpg" alt="">
                        </a>
                        <div class="task-thumb-details">
                            <h1><a href="#">Chef Marinka</a></h1>
                            <p>Senior Chef Master</p>
                        </div>
                    </div>
                    <table class="table table-hover personal-task">
                        <tbody>
                            <tr>
                                <td>
                                    <i class="fa fa-tasks" data-original-title="" title=""></i>
                                </td>
                                <td>New Task Issued</td>
                                <td> 02</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-exclamation-triangle" data-original-title="" title=""></i>
                                </td>
                                <td>Task Pending</td>
                                <td> 14</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-envelope" data-original-title="" title=""></i>
                                </td>
                                <td>Inbox</td>
                                <td> 45</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fa fa-bell-o" data-original-title="" title=""></i>
                                </td>
                                <td>New Notification</td>
                                <td> 09</td>
                            </tr>
                        </tbody>
                    </table>
                </section>
                <!-- end:user info table -->
            </div>
        </div>

    <!--start: newsflow-->
        <div class="col-lg-8">
            <section class="panel">
                <div class="panel-body progress-panel">
                    <div class="task-progress state-overview symbol i">
                        <i class="fa fa-comments-o fa-2x"></i>
                        <h1>Latest Messages</h1>
                    </div>
                </div>
                <table class="table table-hover personal-task">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                Target Sell
                            </td>
                            <td>
                                <span class="badge bg-important">75%</span>
                            </td>
                            <td>
                                <div id="work-progress1"><canvas width="47" height="20" style="display: inline-block; width: 47px; height: 20px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                Product Delivery
                            </td>
                            <td>
                                <span class="badge bg-success">43%</span>
                            </td>
                            <td>
                                <div id="work-progress2"><canvas width="47" height="22" style="display: inline-block; width: 47px; height: 22px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                Payment Collection
                            </td>
                            <td>
                                <span class="badge bg-info">67%</span>
                            </td>
                            <td>
                                <div id="work-progress3"><canvas width="47" height="22" style="display: inline-block; width: 47px; height: 22px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                Work Progress
                            </td>
                            <td>
                                <span class="badge bg-warning">30%</span>
                            </td>
                            <td>
                                <div id="work-progress4"><canvas width="47" height="22" style="display: inline-block; width: 47px; height: 22px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                Delivery Pending
                            </td>
                            <td>
                                <span class="badge bg-primary">15%</span>
                            </td>
                            <td>
                                <div id="work-progress5"><canvas width="47" height="22" style="display: inline-block; width: 47px; height: 22px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        <!--end: newsflow-->
        <!-- start:new earning -->
        <div class="panel terques-chart">
            <div class="panel-body chart-texture">
                <div class="chart">
                    <div class="heading">
                        <span>Senin</span>
                        <strong>$ 67,00 | 25%</strong>
                    </div>
                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,564,455]"><canvas width="283" height="75" style="display: inline-block; width: 283px; height: 75px; vertical-align: top;"></canvas></div>
                </div>
            </div>
            <div class="chart-tittle">
                <span class="title">New Earning</span>
                <span class="value">
                    <a href="#" class="active">Market</a>
                    |
                    <a href="#">Referal</a>
                    |
                    <a href="#">Online</a>
                </span>
            </div>
        </div>
        <!-- end:new earning-->
        <!-- start:total earning-->
        <div class="panel green-chart">
            <div class="panel-body">
                <div class="chart">
                    <div class="heading">
                        <span>June</span>
                        <strong>12 Days | 85%</strong>
                    </div>
                    <div id="barchart"><canvas width="294" height="65" style="display: inline-block; width: 294px; height: 65px; vertical-align: top;"></canvas></div>
                </div>
            </div>
            <div class="chart-tittle">
                <span class="title">Total Earning</span>
                <span class="value">$, 96,23,123</span>
            </div>
        </div>
        <!-- end:total earning -->
        <!--revenue start-->
        @*<section class="panel revenue">
                <div class="revenue-head">
                    <span>
                        <i class="fa fa-bar-chart-o" data-original-title="" title=""></i>
                    </span>
                    <h3>Revenue</h3>
                    <span class="rev-combo pull-right">
                        June 2013
                    </span>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 text-center">
                            <div class="easy-pie-chart">
                                <div class="percentage easyPieChart" data-percent="35" style="width: 135px; height: 135px; line-height: 135px;"><span>35</span>%<canvas width="135" height="135"></canvas></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="chart-info chart-position">
                                <span class="increase"></span>
                                <span>Revenue Increase</span>
                            </div>
                            <div class="chart-info">
                                <span class="decrease"></span>
                                <span>Revenue Decrease</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer revenue-foot">
                    <ul>
                        <li class="first active">
                            <a href="javascript:;">
                                <i class="fa fa-bullseye" data-original-title="" title=""></i>
                                Graphical
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-th-large" data-original-title="" title=""></i>
                                Tabular
                            </a>
                        </li>
                        <li class="last">
                            <a href="javascript:;">
                                <i class="fa fa-align-justify" data-original-title="" title=""></i>
                                Listing
                            </a>
                        </li>
                    </ul>
                </div>
            </section>*@
        <!--revenue end-->
    </div>
    @*<div class="col-lg-8">
            <!--work progress start-->
            <section class="panel">
                <div class="panel-body progress-panel">
                    <div class="task-progress">
                        <h1>Work Progress</h1>
                        <p>Chef Marink</p>
                    </div>
                    <div class="task-option">
                        <select class="btn btn-default" data-original-title="" title="">
                            <option>Chef Marinka</option>
                            <option>Chef Juna</option>
                            <option>Chef Aldi</option>
                        </select>
                    </div>
                </div>
                <table class="table table-hover personal-task">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                Target Sell
                            </td>
                            <td>
                                <span class="badge bg-important">75%</span>
                            </td>
                            <td>
                                <div id="work-progress1"><canvas width="47" height="20" style="display: inline-block; width: 47px; height: 20px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                Product Delivery
                            </td>
                            <td>
                                <span class="badge bg-success">43%</span>
                            </td>
                            <td>
                                <div id="work-progress2"><canvas width="47" height="22" style="display: inline-block; width: 47px; height: 22px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                Payment Collection
                            </td>
                            <td>
                                <span class="badge bg-info">67%</span>
                            </td>
                            <td>
                                <div id="work-progress3"><canvas width="47" height="22" style="display: inline-block; width: 47px; height: 22px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                Work Progress
                            </td>
                            <td>
                                <span class="badge bg-warning">30%</span>
                            </td>
                            <td>
                                <div id="work-progress4"><canvas width="47" height="22" style="display: inline-block; width: 47px; height: 22px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                Delivery Pending
                            </td>
                            <td>
                                <span class="badge bg-primary">15%</span>
                            </td>
                            <td>
                                <div id="work-progress5"><canvas width="47" height="22" style="display: inline-block; width: 47px; height: 22px; vertical-align: top;"></canvas></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <!--work progress end-->
        </div>*@
</div>
</div>


